<div class="container">
	<div class="container col-md-6 col-xs-12">
		<div class="well centered-container col-md-4 col-xs-12">
			<% if @valid %>
				<h1>Password Reset</h1>
				<%= flash[:error] %>
				<%= form_tag api_v1_set_new_password_path, method: :post do %>
					<%= hidden_field_tag 'email', @user.email %>
					<%= hidden_field_tag 'token', @user.reset_password_token %>
				  <div class="form-group">
				    <%= password_field_tag 'password', nil, class: 'form-control', placeholder: 'Password' %>
				  </div>
				  <div class="form-group">
				    <%= password_field_tag 'password_again', nil, class: 'form-control', placeholder: 'Retype Password' %>
					</div>
				 	<%= submit_tag 'submit', class: 'btn btn-default' %>
				<% end %>
			<% else %>
				<h1>Bad password reset link. Please try again.</h1>
			<% end %>
		</div>
	</div>
</div>


