<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="title_container">
				<h1>BODY MEASURMENTS</h1>
			</div>
    		<% unless flash[:alert].blank? %>
    			<div class="alert alert-danger"><%= flash[:alert] %></div>
    		<% end %>
    		<div >
				<%= form_for @user, :html => {:autocomplete => "off"} do |f| %>
					<input name="<%= request_forgery_protection_token.to_s %>" type="hidden" value="<%= form_authenticity_token %>" />
					<% unless @user.errors.blank? %> 
						<div class="alert alert-danger"><%=  @user.errors.full_messages.join(", ") %></div>
					<% end %>
					<div class="labels_and_fields">
						<div class="edit_label_container">
							<%= f.label :height %>
							<%= f.label :bust %>
							<%= f.label :waist %>
						</div>
						<div class="edit_field_container">
							<%= f.text_field :height, class: 'mysize_textbox bottom_border_textbox' %>
							<%= f.text_field :bust, class: 'mysize_textbox bottom_border_textbox' %>
							<%= f.text_field :waist, class: 'mysize_textbox last_in_textbox' %>
						</div>
					</div>
					<div class="nice_container">
						<section class="dont_know">*Don't know? Let us help you!</section>
						<%= link_to('#') do %>
							<%= image_tag("mysize_button.png") %>
						<% end %>
					</div>
	  				<%= button_tag( class: 'azure_button', type: :submit) do %>
	  					SAVE
	                <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
