<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="title_container">
				<h1>BODY MEASURMENTS</h1>
			</div>
    		<% unless flash[:alert].blank? %>
    			<div class="alert alert-danger"><%= flash[:alert] %></div>
    		<% end %>
    		<div >
				<%= form_for @current_user, :html => {:autocomplete => "off"} do |f| %>
					<div class="textbox_container">
						<% f.errors.each do |att,mes| %>
							<div class="alert alert-danger"><%= mes %></div>
						<% end %>
						<%= f.text_field :height, class: 'mysize_textbox bottom_border_textbox', placeholder: 'Height' %>
						<%= f.text_field :bust, class: 'mysize_textbox bottom_border_textbox', placeholder: 'Bust' %>
						<%= f.text_field :waist, class: 'mysize_textbox', placeholder: 'Waist' %>
					</div>
	  				<%= button_tag( class: 'azure_button', type: :submit) do %>
	  					SAVE
	                <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
