<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="title_container">
				<h1>BODY MEASURMENTS</h1>
			</div>
    		<% unless flash[:alert].blank? %>
    			<div class="alert alert-danger"><%= flash[:alert] %></div>
    		<% end %>
    		<div >
				<%= form_for @user, :html => {:autocomplete => "off"} do |f| %>
					<input name="<%= request_forgery_protection_token.to_s %>" type="hidden" value="<%= form_authenticity_token %>" />
					<% unless @user.errors.blank? %> 
						<div class="alert alert-danger"><%=  @user.errors.full_messages.join(", ") %></div>
					<% end %>
					<div class="labels_and_fields">
						<div class="edit_label_container">
							<%= f.label :height %>
							<%= f.label :bust %>
							<%= f.label :waist, class: 'last_label' %>
						</div>
						<div class="edit_field_container">
							<%= f.text_field :height, value: f.object.height.eql?(0.0) ? '' : f.object.height, class: 'mysize_textbox bottom_border_textbox' %>
							<%= f.text_field :bust, value: f.object.bust.eql?(0.0) ? '' : f.object.bust, class: 'mysize_textbox bottom_border_textbox' %>
							<%= f.text_field :waist, value: f.object.waist.eql?(0.0) ? '' : f.object.waist, class: 'mysize_textbox last_in_textbox' %>
						</div>
					</div>
					<div class="nice_container">
						<section class="dont_know">*Don't know? Let us help you!</section>
						<%= link_to('MySizeTest://') do %>
							<%= image_tag("mysize_button_1.png") %>
						<% end %>
					</div>
	  				<%= button_tag( class: 'azure_button black_back', type: :submit) do %>
	  					Save
	                <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		var text_field = $('.last_in_textbox')
		console.log(parseInt(text_field.css('height'),10)+parseInt(text_field.css('padding-top'),10)+parseInt(text_field.css('padding-bottom'),10));
		
	});
</script>


