<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="title_container">
				<h1>BODY MEASURMENTS</h1>
			</div>
    		<% unless flash[:alert].blank? %>
    			<div class="alert alert-danger"><%= flash[:alert] %></div>
    		<% end %>
    		<div >
				<%= form_for @current_user, :html => {:autocomplete => "off"} do |f| %>
					<div class="textbox_container">
						<% unless @current_user.errors.blank? %> 
							<div class="alert alert-danger"><%=  @current_user.errors.full_messages.join(", ") %></div>
						<% end %>
						<%= f.text_field :height, class: 'mysize_textbox bottom_border_textbox', placeholder: 'Height' %>
						<%= f.text_field :bust, class: 'mysize_textbox bottom_border_textbox', placeholder: 'Bust' %>
						<%= f.text_field :waist, class: 'mysize_textbox', placeholder: 'Waist' %>
					</div>

					<div class="nice_container">
						<section>*Don't know? Let us help you!</section>
						<%= link_to('some_long_path.html') do %>
							<%= image_tag("mysize_button.png") %>
						<% end %>
					</div>
	  				<%= button_tag( class: 'azure_button', type: :submit) do %>
	  					SAVE
	                <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
