<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<% if @current_user %>
				<div class="settings_container">		
					<%= link_to edit_user_path(@current_user.id) do %>
						<h2>SETTINGS</h2>
					<%end%>
				</div>	
				<div class="logged_title_container">
					<h1>HI <%= @current_user.first_name.upcase %>!</h1>
				</div>
				<% unless @result.blank? %>
					<div class="nice_container">
						<section>Nice to see you again.<br>Your suggested size for this<br>product is:</section>
						<h2><%= @result.name %></h2>
					</div>
				<% else %>
					<div class="nice_container">
						<section>Unfortunatley no size could be matched for you in this store.</section>
					</div>
				<% end %>
				<div class="button_padding">
					<%= link_to logout_path do %>
						<div class= 'azure_button logout_button'>
							not <%= @current_user.first_name %>? Log out
						</div>
					<%end%>
				</div>
			<% else %>
				<div class="title_container">
					<h1>SIGN IN TO</h1>
					<%= image_tag("mysize_logo.png") %>
				</div>
	    		<div class="nice_container">
					<section>You are not logged in.<br>Please click on the button to login from a new tab.</section>
					<%= link_to image_tag("mysize_button.png", :alt => "MYSIZEID"), "http://mysize-dev.herokuapp.com/signin", :target => "_blank" %>
				</div>
			<% end %>
		</div>
	</div>
</div>